<div class="background-login">

  <%= image_tag("floral-swirly-vector.png", alt: "image", class:'img-responsive') %>

  <div class="login-container responsive">
  
  <%= form_tag do %>

  <fieldset>
    <div class="row col-md-12">
      <div>
        <%= image_tag("logo.png", alt: "image", height: "80px", class:'img-responsive text-center') %><br>

  	  <%=text_field_tag :email, params[:email], class:'form-control', size: 50 %>
      <%=label_tag :email, 'Your Email' %><br><br>

      <%=password_field_tag :password, params[:username], class:'form-control', size: 50 %>
      <%=label_tag :password, 'Your Password' %>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      
      <%=check_box_tag :remember_me, 1, params[:remember_me], class:'form-control', size: 50, class: 'btn btn-default btn-xs'  %>
      <%=label_tag :remember_me, 'Remember me?' %><br><br>

        <div class="actions">
          <%= submit_tag 'LOGIN', class: 'btn btn-default btn-xs'   %>
        </div>

      <p> Not a registered user?  <%= link_to 'REGISTER', home_path, class: 'btn btn-default btn-xs' %></p><br><br>
    
      <%= link_to "FORGOT PASSWORD?", new_password_reset_path, class: 'btn btn-default btn-xs' %> 	
    </div>
  </fieldset>

  <% end %>	

  </div>
</div>

