
<div class="row">
	<%= form_tag do %>
		<fieldset>
			<legend> Please Log In </legend>
			<div class="col-md-4">
				<%= label_tag :email, 'Your Email:' %>
        <%= text_field_tag :email, params[:email], class:'form-control' %>

        <%= label_tag :password, 'Your Password:' %>
        <%= text_field_tag :password, params[:password], class:'form-control' %>
        <br>
     		<%= submit_tag "Login" %>
     	</div>
		</fieldset>
</div>

<p> No account yet? <%= link_to "Register Here", new_user_path %></p>