
<h2> Group <%= @group.name %> </h2><br><br>

<h4>Add a member : </h4>

<fieldset>
	<%= form_for @user, :url => group_send_invite_path(@group), :method => :post do |f| %>   
  <div class="row col-md-4"><br>

	  <b><%= f.label :name, "Person's Name" %></b> 
	  <%= f.text_field :name, size: "80", class:'form-control' %><br><br>

	  <b><%= f.label :email, "Person's Email" %></b> 
	  <%= f.text_field :email, size: "80", class:'form-control' %><br>

	  <div class="actions" >
	    <%= f.submit 'INVITE TO GROUP', class: 'btn btn-default btn-sm' %><br><br>
	  </div> 

	</div>
	<% end %>
</fieldset>
