
<h2><b> <%= @current_user.name %> is a member of : </b></h2><br>

<div class="row">
<div class="col-lg-12">
<fieldset>
	<div class="col-md-6 pull-right">
    <div class="text-box">  
    	<p><small><center>
				ONLY group members may view each other's lists. <br>
			</center></small></p>
    </div>
  </div>  	


		<div class="user-group-list col-md-6 table-responsive">
			<p><b> 
				Click on each Name if you want to edit the group, delete the group or add someone to the group.  You can only do this if you are the one that created the group.
			</b></p>  <br>

			<table class="table table-bordered table-hover">
			  <body>
			  	<% @groups.each do |group| %>
			  		<tr>
			    		<td><h4>
			    					<%= link_to group.name, group_path(group) %><br>
			    					<i><small> (This group belongs to : <%= group.owner_name %>) </small></i>
			    				</h4> 

								<table class="table table-bordered table-responsive table-hover">
									<head>
										<tr> 
											<th> Group Members </th>
										</tr>
									</head>	
									
									<body>	
										<% group.users.each do |user| %> 	
										<tr>
											<td> <%= link_to user.name, user_items_path(user) %> </td>
										</tr>
										<% end %>
									</body>	
								</table>

			    		</td>		
			 			</tr>
			  	<% end %>
				</body>  
			</table>
			<%= link_to "MAKE A GROUP", new_group_path, class: 'btn btn-default btn-sm' %><br><br>
		</div> 

</fieldset>
</div>
</div>






