
<h2> Group - <%= @group.name %> </h2>
<i><small> (This group belongs to : <%= @group.owner_name %>) </small></i><br><br>

<fieldset>
		<div class="user-group-list col-md-6 table-responsive">
			<table class="table table-bordered">
			  <body>
			  		<tr>
			  			<% if @current_user.id == @group.owner_id %>
			    		<td> 
			    		<h4>
			    			<%= link_to 'DELETE THIS GROUP', group_path(@group), method: :delete, data: { confirm: 'Are you sure you want to delete this Group?' }, class: 'btn btn-default btn-xs pull-right' %>
			    			<%= link_to @group.name, edit_group_path(@group) %><br>
			    			<i><small> (This group belongs to : <%= @group.owner_name %>) </small></i>
			    		</h4><br>
			    		<% end %>			

								<table class="table table-bordered table-responsive">
									<head>
										<tr> 
											<th> Group Members </th>
										</tr>
									</head>	
									
									<body>	
										<% @group.users.each do |user| %> 	
										<tr>
											<td> 
												<%= user.name %> 
												<% if @current_user.id == @group.owner_id %>
												<%= link_to "REMOVE FROM GROUP", group_user_remove_from_path(@group, user), method: :delete, class: 'btn btn-default btn-xs pull-right' %>
												<% end %>
											</td>

										</tr>
										<% end %>
									</body>	
								</table>

			    		</td>		
			 			</tr>
				</body>  

			</table><br><br>
		</div> 
</fieldset>

<% if @current_user.id == @group.owner_id %>
	<%= link_to "ADD SOMEONE TO THIS GROUP", group_create_invite_path(@group), class: 'btn btn-default btn-sm' %><br><br> 
<% end %>

<%= link_to "VIEW GROUPS", groups_path, class: 'btn btn-default btn-sm' %><br><br>  


