
<ul>
  <div>
		<li><b> Email : </b><%= @current_user.email %></b> </li>
 		<li><b> Birthday : </b><%= @current_user.birthday %> </li>
  	<li><b> Current Interests : </b><%=@current_user.current_interests %> </li>
  	<li><b> Special Event : </b><%= @current_user.special_event %> </li>
  	<li><b> Dislikes : </b><%= @current_user.general_dislikes %> </li>
	</div>
</ul>