
<div class="user-profile">
	<dl class="dl-horizontal">
	<ul>
		<dt><b> Email : </b></dt>
		<dd> <%= @user.email %></dd><br>
		
		<dt><b> Birthday : </b></dt>
		<dd><%= @user.birthday %> </dd><br>
	  
		<dt><b> Current Interests : </b></dt>
		<dd><%= @user.current_interests %> </dd><br>

		<dt><b> Special Events : </b></dt>
		<dd><%= @user.special_event %> </dd><br>

		<dt><b> Dislikes : </b></dt>
		<dd><%= @user.general_dislikes %> </dd>
	</ul>
	</dl>
</div>

