
<div class="user-profile">
	<dl class="dl-horizontal">
	<ul>
		<dt><b> Email : </b></dt>
		<dd> <%= @current_user.email %></dd><br>
		
		<dt><b> Birthday : </b></dt>
		<dd><%= @current_user.birthday %> </dd><br>
	  
		<dt><b> Current Interests : </b></dt>
		<dd><%= @current_user.current_interests %> </dd><br>

		<dt><b> Special Events : </b></dt>
		<dd><%= @current_user.special_event %> </dd><br>

		<dt><b> Dislikes : </b></dt>
		<dd><%= @current_user.general_dislikes %> </dd><br>
	</ul>
	</dl>
</div>

