
<div class="row">
<div class="col-lg-12">

<%= form_for(@user) do |f| %>

<fieldset>
  <div class="col-md-6 pull-right" style="margin-top: 3cm">
    <div class="text-box">
      <p>
        Please take a minute to complete you profile and add as many details as possible.   The more detailed you make this, the more perfect your gifts will be. <br><br> 
      </p>
      
      <p>  
        We promise! <br><br>
      </p>

      <p>
        Ramble even, we dare you. <br><br>
      </p>

      <p>
        The more personal you make it, the closer you will be to getting the PERFECT LOOT! <br><br>
      </p>
    </div>    
  </div>
    
  <div class="col-md-6 pull-left">
    <b><p> 
      Take a minute to personalize all your information. <br><br>
    </p></b>
  
    <b><%= f.label :birthday, 'Your Birthday' %></b>
    <%= f.date_field :birthday, size: "60", class:'form-control' %><br><br>
   
    <b><%= f.label :current_interests, 'Your Current Interests' %></b>      
    <%= f.text_area :current_interests, size: "80x10", maxlength: "100", class:'form-control', :placeholder => 'For example if you are involved in something special like volunteering at the animal shelter or getting ready to go on a white water rafting vacation.  Be happy!' %><br><br>
    
    <b><%= f.label :special_event, 'Special Event?' %></b>
    <%= f.text_area :special_event, size: "80x8", maxlength: "100",class:'form-control', :placeholder => 'For example if have a wedding, birthday, anniversary or your dog\'s birthday coming up.  Be smiley!' %><br><br>
    
    <b><%= f.label :general_dislikes, 'Dislikes?' %></b>
    <%= f.text_area :general_dislikes, size: "80x8", maxlength: "100", class:'form-control', :placeholder => 'For example if you cannot stand shopping at a partiular department store; cannot stand the color pink; cannot stand a type of food; or cannot stand a genre of literature.  Be dislikeful!' %><br>

    <div class="actions">
      <%= f.submit 'UPDATE USER', class: 'btn btn-default btn-xs' %>
    </div><br>

    <%= link_to "YOUR PROFILE", user_path(@current_user), class: 'btn btn-default btn-sm' %>
  </div>
   
</fieldset>

</div>
</div>
<% end %>


