
<div class="user-profile">
	<ul>
		<li><b> Email : </b><%= @current_user.email %></b> </li><br>
	 	<li><b> Birthday : </b><%= @current_user.birthday %> </li><br>
	  <li><b> Current Interests : </b><%= @current_user.current_interests %> </li><br>
	  <li><b> Special Event : </b><%= @current_user.special_event %> </li><br>
	  <li><b> Dislikes : </b><%= @current_user.general_dislikes%> </li><br><br>
	</ul>
</div>

