<!-- <h3><%=# user.user_name %></h3>
<ul>
 <li> Birthday : <%=# user.birthday %> </li>
  <li> Current Interests : <%=# user.current_interests %> </li>
  <li> Special Event : <%# if user.special_event.empty? %>
  											<%=# "No special events at this time" %>
  										<%# else %>
  											<%# user.special_event %>
  										<%# end %> </li>
  <li> Dislikes: <%=# user.answers.size %> </li> 
	<%# TODO:  update with birthday, current event, dislikes %>

</ul> -->