<div>

  <%= image_tag("logo.png", style:"height:130px;margin:auto;", class:'img-responsive text-center') %>
 
</div>

<div class="col-md-12">
  <div class="register-text-box text-center"> 
    <p>
      Have you ever received a gift that you absolutely detest? <br><br>
    </p> 
    
    <p>
      Throw on a big phenomenal smile and say thank you, all the while thinking if it’s able to be returned? <br><br>
    </p>

    <p>
      Have you ever asked your spouse what they would like for their birthday and get the response, <br> “I have you. I don’t need anything else?"  Even though that response might make your heart flutter happily, <br> in reality, you are back to square one with no clue what to get them. <br><br>
    </p>

    <p>
      Have you ever had a niece or nephew graduating high school in a far away place and have no clue what to get them? <br><br>
    </p>

    <p>
      Everyone loves gifts.  Everyone loves gifts that they really want even more. <br>
      Loot-List is here to bring together your perfect gift idea with the reality of actually receiving it!  <br><br>
    </p>

    <p>
     Loot-Lists details what you DO NOT EVER want to receive and what features you dislike in an item. <br><br>
    </p>

    <p>
      Loot-List is different than most wish lists, as it includes things like ....<br>
      vacations ✦ educational items ✦ restaurants ✦ charities <br>
      live events ✦ date nights <i><small>(yes, even those!)</small></i> <br><br>
    </p>

    <p> 
      Feel Free to share your Loot-List securely with other members of your group. <br><br>
      <b style="font-family:papyrus;font-size:20px;"> Where the perfect gift idea is just a click away </b>
    </p> 
  </div>
</div>

<div class="row">
<div class="col-md-6">

  <%= form_for(@user) do |f| %>
  
  <fieldset><br><br>
    <h4><b> PLEASE REGISTER TO GET STARTED </b></h4>
   
      <%= f.text_field :name, size: 60, class:'form-control', :placeholder => 'must be completed' %>
      <%= f.label :name, 'Your Name' %><br><br>

      <%= f.email_field :email, size: 60, class:'form-control', :placeholder => 'must be completed' %>
       <%= f.label :email, 'Your Email' %><br><br>

      <%= f.password_field :password, size: 60, class:'form-control', :placeholder => 'must be completed' %>
      <%= f.label :password, 'Your Password' %><br><br>

      <%= f.password_field :password_confirmation, size: 60, class:'form-control', :placeholder => 'must be completed' %>
      <%= f.label :password_confirmation, 'Confirm Your Password' %><br>
      
     <div class="actions">
      <%= f.submit 'REGISTER', class: 'btn btn-default btn-xs' %>
     </div>   
  </fieldset>

  <% end %>
</div>
</div>




