
<h2> <%= @user.name %> current profile is </h2>

<%= render 'users/profile' %>

<% if @current_user.id == @user.id %>
  <%= link_to "EDIT PROFILE", edit_user_path, class: 'btn btn-default btn-sm' %><br><br>
<% end %>

<%= link_to "WANT-IT LIST", user_items_path(@user), class: 'btn btn-default btn-sm' %><br><br>

<%= link_to "MAKE A GROUP", new_group_path, class: 'btn btn-default btn-sm' %><br><br>

<%= link_to "VIEW YOUR GROUPS", groups_path, class: 'btn btn-default btn-sm' %><br><br>


