	
<%= form_for([@current_user, @item]) do |f| %>  

	<p>
		<b> Categories </b>
		<small><i> (only check one)</i></small>
	</p>

<div class="categories container"> 	
  <div class="controls form-group">
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'PHILANTHROPHY' %>
 			<%= f.label 'Philanthropy' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'JEWELRY' %>
 			<%= f.label 'Jewelry' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'PET' %>
 			<%= f.label 'Pet' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'BEAUTY' %>
 			<%= f.label 'Beauty' %>
 		</label>
 	</div>  

 	<div class="controls form-group">
 		<label class="col-md-3 col-sm-6col-xs-12">
 			<%= f.radio_button :category, 'EDUCATION' %>
 			<%= f.label 'Education' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'SHOES' %>
 			<%= f.label 'Shoes' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'ELECTRONICS' %>
 			<%= f.label 'Electronics' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'HEALTH/SPA' %>
 			<%= f.label 'Health/Spa' %>
 		</label>
 	</div>  

 	<div class="controls form-group">
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'OUTDOOR ACTIVITIES' %>
 			<%= f.label 'Outdoor Activities' %>
		</label>
		<label class="col-md-3 col-sm-6 col-xs-12">
		 	<%= f.radio_button :category, 'ACCESSORIES' %>
			<%= f.label 'Accessories' %>
		</label>
		<label class="col-md-3 col-sm-6 col-xs-12">
			<%= f.radio_button :category, 'TOOLS' %>
			<%= f.label 'Tools' %>
		</label>
		<label class="col-md-3 col-sm-6 col-xs-12">
		 	<%= f.radio_button :category, 'HOME/HOUSEHOLD' %>
			<%= f.label 'Home/Household' %>
		</label>	
 	</div>    

 	<div class="controls form-group">
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'HOBBIES' %>
 			<%= f.label 'Hobbies' %>
		</label>
		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'ATTIRE' %>
 			<%= f.label 'Attire' %>
		</label>
		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'DATE NIGHT' %>
 			<%= f.label 'Date Night' %>
		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'KITCHEN' %>
 			<%= f.label 'Kitchen' %>
 		</label>
 	</div>  

 	<div class="controls form-group">
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'SPORTS PLAYED' %>
 			<%= f.label 'Sports Played' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'MOVIE' %>
 			<%= f.label 'Movie' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">	
 			<%= f.radio_button :category, 'RESTAURANT' %>
 			<%= f.label 'Restaurant' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'VACATION/TRIP' %>
 			<%= f.label 'Vacation/Trip' %>
		</label>
 	</div>  

 	<div class="controls form-group">
 		<label class="col-md-3 col-sm-6 col-xs-12">	
 			<%= f.radio_button :category, 'SPORTS TEAM' %>
 			<%= f.label 'Sports Team' %>
		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">	
 			<%= f.radio_button :category, 'MUSIC/CONCERT' %>
 			<%= f.label 'Music/Concert' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'FOOD' %>
 			<%= f.label 'Food' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">	
 			<%= f.radio_button :category, 'FAVORS' %>
 			<%= f.label 'Favors' %>
		</label>
 	</div>

 	<div class="controls form-group">
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'AMUSEMENT PARK' %>
 			<%= f.label 'Amusement Park' %>
		</label>
		<label class="col-md-3 col-sm-6 col-xs-12">	
 			<%= f.radio_button :category, 'LIVE EVENTS' %>
 			<%= f.label 'Live Events' %>
		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'GIFT CARD' %>
 			<%= f.label 'Gift Card' %>
 		</label>
 		<label class="col-md-3 col-sm-6 col-xs-12">
 			<%= f.radio_button :category, 'OTHER' %>
 			<%= f.label 'Other' %>
 		</label><br><br>
 	</div>		 		
</div>	

<% end %>






