
<div class="new-item">

<%= form_for([@current_user, @item]) do |f| %>

<fieldset>
   	<div class="row"><br>
      <div class="col-md-8">
      <b><%= f.label :name, 'Item Name' %></b><br>  
      <%= f.text_field :name, size: "82", class:'form-control', :placeholder => 'This MUST be completed!' %><br>  
      
      <b><%= f.label :descrip, 'Item Description' %></b><br>      
      <%= f.text_area :descrip, size: "80x8", maxlength: "100", class:'form-control', :placeholder => 'Product details from manufacturer' %><br>

      <b><%= f.label :comment, 'Comments' %></b><br>
      <%= f.text_area :comment, size: "80x8", maxlength: "300",class:'form-control', :placeholder => 'What size?  Color?  What details you do NOT want in this item?' %><br>

      <b><%= f.label :price, 'Estimated Price' %></b><br>
      <%= f.number_field :price, size: "82", step:"any", min:"0", class:'form-control', :placeholder => 'Just a general idea of the cost' %><br>


      <b><%= f.label :url_link, 'Web Link' %></b><br>
      <%= f.text_area :url_link, size: "80x8", maxlength: "300", class:'form-control', :placeholder => 'Copy and Paste weblink from the item you want to here' %><br>
      
      <b><%= f.label :category, 'Item Category' %></b><br>
      <%= f.text_area :category, size: "80x6", class:'form-control', :placeholder => 'Please choose from category list below or make your own' %><br>
      
      <%= render 'items/categories' %><br>

      <%= render 'items/ratings' %><br><br>

       <div class="actions">
        <%= f.submit 'SAVE ITEM', class: 'btn btn-default btn-xs'%>
       </div>
      </div>
    </div>
</fieldset>

</div>
<% end %><br>
