
<div class="new-item">

<%= form_for([@current_user, @item]) do |f| %>

<fieldset>
   	<div class="row"><br>
      <div class="col-md-8">
      <b><%= f.label :name, 'Item Name' %></b>
      <i> (This must be completed!)</i><br>  
      <%= f.text_field :name, size: "82", class:'form-control' %><br>   <%# TODO: new item force form blank - edit shows info %>
      
      <b><%= f.label :descrip, 'Item Description' %></b>
      <i> (Product details from manufacturer)</i><br>      
      <%= f.text_area :descrip, size: "80x8", maxlength: "100", class:'form-control' %><br>

      <b><%= f.label :comment, 'Comments' %></b>
      <i> (What size?  Color?  What details you do NOT want in this item?)</i><br>
      <%= f.text_area :comment, size: "80x8", maxlength: "100",class:'form-control' %><br>

      <b><%= f.label :price, 'Estimated Price' %></b>
      <i> (Just a general idea of the cost)</i><br>
      <%= f.number_field :price, size: "82", class:'form-control' %><br>


      <b><%= f.label :url_link, 'Web Link' %></b>   
      <i> (Copy and Paste weblink from the item you want to here)</i><br>
      <%= f.text_area :url_link, size: "80x8", maxlength: "300", class:'form-control' %><br>
      
      <b><%= f.label :category, 'Item Category' %></b>  <%# TODO: change categor input %>
      <i> (Please separate each category by a comma.  Category list below)</i><br>
      <%= f.text_area :category, size: "80x6", class:'form-control' %><br>
      
      <%= render 'items/categories' %>

      <b><%= f.label :want_rating, 'Rate Item' %></b>
      <i> (Rate how much you want this item. On a scale of 1 to 5, with 5 being a MUST HAVE IT!)</i><br>
      <%= f.text_field :want_rating, size: "60", class:'form-control' %><br>
      <%# TODO: rate by clickable stars - gem %>

       <div class="actions">
        <%= f.submit %>
       </div>
      </div>
    </div>
</fieldset>

</div>
<% end %><br>
