
<head>
	<style class="loot-list-table"> </style>
</head>
<body>
	<div class="user-want-list table-responsive table-solid">
		<table class="table table-bordered table-hover ">
		  <tr>
		    <th> Item Name </th>
		    <th> Description </th>		
		    <th> Comments </th>
		    <th> Dislikes </th>
		    <th> Cost </th>
		    <th> Web Link </th>
		    <th> Category </th>
		    <th> Rating </th>
		    <th> Got It?</th><br>
		  </tr>
		  <% @user.items.each do |want| %>
		  <tr>
		    <td> 
		    	<% if @current_user.id == @user.id %>
			    	<%= link_to want.name, edit_user_item_path(@user, want) %> 
			    <% else %>
			    	<%= want.name %>
			    <% end %>	
			  </td>    
		    <td> <%= want.descrip %> </td>		
		    <td> <%= want.comment %> </td>	
		    <td> <%= want.dislike %> </td>	
		   	<td> <%= number_to_currency(want.price) %> </td>	

		   	<td> <%= link_to want.url_link, want.url_link, :target => "_blank" %> </td>		
		   	

		   	<td> <%= want.category %> </td>
		   	<td> <%= want.want_rating %> </td>
		   	<td> 
					<div>
						<% if @current_user.id == @user.id %>
						  <%= link_to 'Gift <span class="glyphicon glyphicon-gift"></span> Received'.html_safe, user_item_path(@user, want), method: :delete, data: {confirm: 'Are you sure you want to remove this item from your list?'}, class: 'btn btn-primary btn-sm' %>							
	          <% end %>							
					</div>   
				</td>	
		  </tr>
		  <% end %>
		</table><br>
	</div> 
</body>





