
<div class="new-item">

<%= form_for([@current_user, @item]) do |f| %>

<fieldset>
   	<div class="row"><br>
      <div class="col-md-8">
      <b><%= f.label :item_name, 'Item Name' %></b><br>
      <i> (This must be completed!)</i><br>  
      <%= f.text_field :item_name, size: "82", class:'form-control' %><br><br><br>   <%# TODO: new item force form blank - edit shows info %>
      
      <b><%= f.label :descrip, 'Item Description' %></b><br>
      <i> (Product details from manufacturer)</i><br>      
      <%= f.text_area :descrip, size: "80x8", maxlength: "100", class:'form-control' %><br><br><br>

      <b><%= f.label :comment, 'Comments' %></b><br>
      <i> (What size?  Color?  What details you do NOT want in this item?)</i><br>
      <%= f.text_area :comment, size: "80x8", maxlength: "100",class:'form-control' %><br><br><br>

      <b><%= f.label :price, 'Estimated Price' %></b><br>
      <i> (Just a general idea of the cost.  Do not enter $ sign!)</i><br>
      $ <%= f.text_field :price, size: "82", class:'form-control' %><br><br><br>
        <%# TODO:  price config to dollar - input only whole dollar %>

      <b><%= f.label :url_link, 'Web Link' %></b><br>   <%# TODO:  add href to link %>
      <i> (Copy and Paste weblink from the item you want to here)</i><br>
      <%= f.text_area :url_link, size: "80x8", maxlength: "300", class:'form-control' %><br><br><br>
      
      <b><%= f.label :category, 'Item Category' %></b><br>  <%# TODO: change categor input %>
      <i> (Look at category list below to classify to your item.<br>Please separate each catgory by commas)</i><br>
      <%= f.text_area :category, size: "80x6", class:'form-control' %><br><br>
      
         <span style="font-size:75%;"><b>CATEGORIES</b></span> 
            <div class="item-category">
            <ul type="square">
              <li> Gift Cards </li>
              <li> Education </li>
              <li> Philantrophy </li>
              <li> Activities/Hobbies </li>
              <li> Jewelry </li>
              <li> Accessories </li>
              <li> Clothes </li>
              <li> Shoes </li>
              <li> Electronics </li>
              <li> Tools </li>
              <li> Beauty </li>
              <li> Health/Spa </li>
              <li> Sports Played </li>
              <li> Sports Teams </li>
              <li> Home/Household </li>
              <li> Kitchen </li>  
              <li> Restaurants </li>
              <li> Movies </li>
              <li> Theatres </li>
              <li> Concerts/Live Events</li>
              <li> Music </li>
              <li> Outdoor Activities </li>
              <li> Vacations/Trips </li>
              <li> Amusement Parks </li>
            </ul>
            </div><br>

      <b><%= f.label :want_rating, 'Rate Item' %></b><br>
      <i> (Rate how much you want this item. <br>On a scale of 1 to 5, with 5 being a MUST HAVE IT!)</i><br>
      <%= f.text_field :want_rating, size: "60", class:'form-control' %><br><br>
      <%# TODO: rate by clickable stars - gem %>

       <div class="actions">
        <%= f.submit %>
       </div>
      </div>
    </div>
</fieldset>

</div>
<% end %><br>
