
<div class="star-ratings">
	<p>
 		<%= form.label '1 STAR' %>
 		<%= form.check_box :1star %>

 		<%= form.label '2 STARS' %>
 		<%= form.check_box :2stars %>
 		
 		<%= form.label '3 STARS' %>
 		<%= form.check_box :3stars %>
 		
 		<%= form.label '4 STARS' %>
 		<%= form.check_box :4stars %>
 		
 		<%= form.label '5 STARS' %>
 		<%= form.check_box :5stars %>

 </p>
</div>
