
<div class="new-item">

<%= form_tag do %>

<fieldset>
  <legend><b> Create your own personalized Want-It List</b></legend>
   	<div class="row"><br>
      <div class="col-md-8">

      <b><%= label_tag :item_name, 'Item Name' %></b><br>
      <%= text_field_tag :item_name, params[:user], size: "82", class:'form-control' %><br><br>
      
      <b><%= label_tag :descrip, 'Item Description' %></b><br>
      <i> (Product details from manufacturer)</i><br>      
      <%= text_area_tag :descrip, params[:user], size: "80x8", maxlength: "100", class:'form-control' %><br><br>

      <b><%= label_tag :comment, 'Comments' %></b><br>
      <i> (What size?  Color?  What details you do NOT want in this item?)</i><br>
      <%= text_area_tag :comment, params[:user], size: "80x8", maxlength: "100",class:'form-control' %><br><br>

      <b><%= label_tag :price, 'Estimated Price' %></b><br>
      <i> (Just a general idea of the cost)</i><br>
      <%= text_field_tag :price, params[:user], size: "82", class:'form-control' %><br><br>
      
      <b><%= label_tag :url_link, 'Web Link' %></b><br>   <%# TODO:  add href to link %>
      <i> (Copy and Paste weblink from the item you want to here)</i><br>
      <%= text_area_tag :url_link, params[:user], size: "80x8", maxlength: "300", class:'form-control' %><br><br>
      
      <b><%= label_tag :category, 'Item Category' %></b><br>  <%# TODO: change categor input %>
      <i> (Look at category list below add to your item.  Please separate by commas)</i><br>
      <%= text_area_tag :category, params[:user], size: "80x6", class:'form-control' %><br><br>
      
      <b><%= label_tag :want_rating, 'Rate Item' %></b><br>
      <i> (Rate how much you want this item. <br>On a scale of 1 to 5, with 5 being a MUST HAVE IT!)</i><br>
      <%= text_field_tag :want_rating, params[:user], size: "60", class:'form-control' %><br><br><br>
      

       <div class="actions">
        <%= submit_tag %>
       </div>
      </div>
    </div>
</fieldset>

</div>
<% end %><br>

 <a><%= link_to "VIEW WANT-IT LIST", item_path(@current_user) %></a><br><br>
