
<h2> <%= @current_user.user_name %>'s Want-It List </h2>

<% @current_user.items.each do |want| %>
<div class="row"><br>
  <div class="col-md-4">
		<div class="user-want-list">
			<ul>
				<li><b> <%= want.item_name %> </b></li>
					<p> decription : <%= want.descrip %> </p>	
			  	<p> personal comments : <%= want.comment %> </p>	
			  	<p> estimated cost:  $  <%= want.price %> </p>	
			  	<p> web link : <%= want.url_link %> </p>
			  	<p> category : <%= want.category %> </p>	
			  	<p> want rating : <%= want.want_rating %> &nbsp;&nbsp;&nbsp;  
			  	<i>(Rating on a scale of 1 to 5, with 5 being a MUST HAVE IT!)</i></p>
			</ul>
		</div> 
	</div>
</div>
<% end %>

<a><%= link_to "ADD TO WANT-IT LIST", new_user_item_path %></a><br><br>


